@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div style="display: flex; flex-direction:row; height: 350px">
        <div style="flex:1.3 1; text-align:left;">
            <h2 class="display-4">Tervetuloa</h2>
            <p style="word-break:break-word">Olen Laura, 27-vuotias sosiaalipsykologian opiskelija Vantaalta. Perustin yrityksen voidakseni hyödyntää laajaa osaamista harrastusteni, työkokemukseni ja vapaaehtoistyöni pohjalta, 
            ja voidakseni työskennellä omaan tahtiini omana itsenäni. Aito energisyyteni ja iloni on tarttuvaa, ja teen kaiken mihin ryhdyn aina niin hyvin kuin vain osaan. Lue lisää 
            <a href="/Tietoa_minusta">minusta ja yrityksestäni</a>.
            </p>
        </div>
        <div class="page-image">
        </div>
    </div>

    <div>
        <div style="text-align: left;">
            <h3>Tarjoamani palvelut</h3>
            <ul>
                <li><h4><a href="">LEMMIKKIKUVAUS</a></h4></li>
                <li><h4><a href="">LEMMIKKIEN HOITO, ULKOILUTUS JA KOULUTUS</a></h4></li>
                <li><h4><a href="">PERUSKOULUN JA LUKION TUKIOPETUS, PÄÄSYKOEVALMENNUS</a></h4></li>
                <li><h4><a href="">TAPAHTUMAT</a></h4></li>
            </ul>
        </div>

        <div style="text-align: left;">
            <h3>Hinnoittelu</h3>

            <p>
                Palveluiden hinnat löytyvät jokaisen palvelun omalta sivulta, ja ne on hinnoiteltu joko tuntipalkkana tai projektipalkkana. Kaikkiin hintoihin sisältyy alv 24 %, sekä matkakulut pääkaupunkiseudulla. Matkakulut kauemmas ja mahdolliset päivärahat veloitetaan erikseen.
                Palveluiden hinnoittelun yhteydessä määritetään, mistä hinta koostuu.
            </p>
            <p>
                Maksaminen on mahdollista laskulla (14 päivää maksuaikaa, XX % viivästyskorko) tai käteisellä.
            </p>            
        </div>
        <div>
            <h3>
                Etkö löytänyt etsimääsi?
            </h3>
            <p>
                Tarvitsetko apua jossain, mitä ei sivuilla mainittu? <a href="/Yhteys_tiedot">OTA YHTEYTTÄ!</a>
            </p>
        </div>
    </div>

    <p style="color:white">this should show</p>

</div>
