@page
@model TietoaMinustaModel
@{
    ViewData["Title"] = "Tietoa minusta";
}
<h1>@ViewData["Title"]</h1>

<div style="display:flex; flex-direction:row"> 
    <ul class="navbar-nav flex-grow-1" style="flex-direction:row">
        <li>Palvelu x</li>
        <li>Palvelu x</li>
        <li>Palvelu x</li>
        <li>Palvelu x</li>
        <li>Palvelu x</li>
        <li>Palvelu x</li>
    </ul>

    <p>
        Yrittäjänä hintoihin täytyy sisällyttää alv:n ja perusveroprosentin, matka- ja materiaalikulujen lisäksi vakuutusmaksut (aloittelevan yrittäjän YEL maksut 18,8 %, myöhemmin 24,1 % bruttopalkasta), kirjanpitokulut sekä yritystoiminnan pyörittämiseen kuluva aika ja työ, jolloin henkilökohtaisesta veroprosentista riippuen todellisesta hinnasta jää yrittäjälle käteen hieman yli tai alle puolet.

    </p>

</div>

<p></p>
