@page
@model YhteysTiedotModel
@{
    ViewData["Title"] = "Yhteys Tiedot";
}
<h1>@ViewData["Title"]</h1>

<div style="display:flex; flex-direction:row"> 
    <h3>Email</h3>
    <h3>phoone</h3>

</div>
